<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"/>
<title>Patient info list</title>
<link rel="stylesheet" href="../../css/bootstrap.min.css" >
</head>
<body>
<div class="container">
	<div class="row">
		<div class="col-6">
			<a href="/patient/list">Patient List</a>
		</div>
	</div>
	<div class="row"><h2>PatientInfo List</h2></div>
	<div class="row">
		<a href="/patient/add" class="btn btn-primary btn-sm">Add New</a>
		<table class="table table-bordered">
			<thead>
				<tr>
					<th>Id</th>
					<th>Family</th>
					<th>Given</th>
					<th>Dob</th>
					<th>Sex</th>
					<th>Address</th>
					<th>Phone</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="patientInfo : ${patientInfoList}">
					<td style="width: 10%" th:text="${patientInfo.id}"></td>
					<td th:text="${patientInfo.family}"></td>
					<td th:text="${patientInfo.given}"></td>
					<td th:text="${patientInfo.dob}"></td>
					<td th:text="${patientInfo.sex}"></td>
					<td th:text="${patientInfo.address}"></td>
					<td th:text="${patientInfo.phone}"></td>
					<td style="width: 12%" class="text-center">
						<a th:href="@{/patient/update/{id}(id=${patientInfo.id})}">Edit</a> &nbsp | &nbsp
						<a th:href="@{/patHistory/patient?patId={id}(id=${patientInfo.id})}">Notes</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
</body>
</html>
